@font-face
  font-family: 'CorbelBold'
  src: url('fonts/Corbel/corbelb-webfont.eot');
  src: url('fonts/Corbel/corbelb-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Corbel/corbelb-webfont.woff') format('woff'),
         url('fonts/Corbel/corbelb-webfont.ttf') format('truetype'),
         url('fonts/Corbel/corbelb-webfont.svg#CorbelBold') format('svg')
  font-weight: normal
  font-style: normal