#caballero
  .banner
    .titulo-seccion#titulo-caballero
      h3 Caballero
      h4 Comfort y elegancia para toda ocasión
    .champions#champion-caballero
      img.shoe(src="{DIR}img/champion-todoterreno.png")
      h4.estilo Estilo 4005
      a.lnkviewDetail(href="{DIR}caballero") Ir al catálogo
  .carrusel
    ul.container
      li
        .item
          .img
            img(src="{DIR}img/shoes/1/0001.jpg")
          .txt
            h4 Estilo 4005
            p Color Negro
            p Suela Antiderrapante
            a(href="{DIR}producto/detalle") Ver Detalle
      li
        .item
          .img
            img(src="{DIR}img/shoes/1/0001.jpg")
          .txt
            h4 Estilo 4005
            p Color Negro
            p Suela Antiderrapante
            a(href="{DIR}producto/detalle") Ver Detalle
      li
        .item
          .img
            img(src="{DIR}img/shoes/1/0001.jpg")
          .txt
            h4 Estilo 4005
            p Color Negro
            p Suela Antiderrapante
            a(href="{DIR}producto/detalle") Ver Detalle
      li
        .item
          .img
            img(src="{DIR}img/shoes/1/0001.jpg")
          .txt
            h4 Estilo 4005
            p Color Negro
            p Suela Antiderrapante
            a(href="{DIR}producto/detalle") Ver Detalle