#nino
  .banner
    .titulo-seccion#titulo-nino
      h3 Golosito
      h4 El nuevo escolar
    .champions#champion-nino
      img.shoe(src="{DIR}img/champion-todoterreno.png")
      h4.estilo Estilo 4005
      a.lnkviewDetail(href="{DIR}golosito") Ir al catálogo
  .carrusel
    ul.container
      li
        .item
          .img
            img(src="{DIR}img/shoes/1/0001.jpg")
          .txt
            h4 Estilo 4005
            p Color Negro
            p Suela Antiderrapante
            a(href="{DIR}producto/detalle") Ver Detalle
      li
        .item
          .img
            img(src="{DIR}img/shoes/1/0001.jpg")
          .txt
            h4 Estilo 4005
            p Color Negro
            p Suela Antiderrapante
            a(href="{DIR}producto/detalle") Ver Detalle
      li
        .item
          .img
            img(src="{DIR}img/shoes/1/0001.jpg")
          .txt
            h4 Estilo 4005
            p Color Negro
            p Suela Antiderrapante
            a(href="{DIR}producto/detalle") Ver Detalle
      li
        .item
          .img
            img(src="{DIR}img/shoes/1/0001.jpg")
          .txt
            h4 Estilo 4005
            p Color Negro
            p Suela Antiderrapante
            a(href="{DIR}producto/detalle") Ver Detalle