.nav-int
  .wp
    h1.logo Grupo Nevada
    ul
      li
        a(href="{DIR}") Home
      li
        a(href="{DIR}todoterreno") Todo terreno
      li
        a(href="{DIR}caballero") Caballero
      li
        a(href="{DIR}golosito") Niño
#caballero
  .banner
    .titulo-seccion#titulo-caballero
      h3 Caballero
      h4 Comfort y elegancia para toda ocasión
    .champions#champion-caballero
      img.shoe(src="{DIR}img/champion-todoterreno.png")
      h4.estilo Estilo 4005
      a.lnkviewDetail(href="{DIR}producto/detalle") Ver Detalle
  .carrusel
    ul.container
      {ITEMS}
      //- li
      //-   .item
      //-     .img
      //-       img(src="{DIR}img/shoes/1/0001.jpg")
      //-     .txt
      //-       h4 Estilo 4005
      //-       p Color Negro
      //-       p Suela Antiderrapante
      //-       a(href="{DIR}producto/detalle") Ver Detalle
      //- li
      //-   .item
      //-     .img
      //-       img(src="{DIR}img/shoes/1/0001.jpg")
      //-     .txt
      //-       h4 Estilo 4005
      //-       p Color Negro
      //-       p Suela Antiderrapante
      //-       a(href="{DIR}producto/detalle") Ver Detalle
      //- li
      //-   .item
      //-     .img
      //-       img(src="{DIR}img/shoes/1/0001.jpg")
      //-     .txt
      //-       h4 Estilo 4005
      //-       p Color Negro
      //-       p Suela Antiderrapante
      //-       a(href="{DIR}producto/detalle") Ver Detalle
      //- li
      //-   .item
      //-     .img
      //-       img(src="{DIR}img/shoes/1/0001.jpg")
      //-     .txt
      //-       h4 Estilo 4005
      //-       p Color Negro
      //-       p Suela Antiderrapante
      //-       a(href="{DIR}producto/detalle") Ver Detalle
      //- li
      //-   .item
      //-     .img
      //-       img(src="{DIR}img/shoes/1/0001.jpg")
      //-     .txt
      //-       h4 Estilo 4005
      //-       p Color Negro
      //-       p Suela Antiderrapante
      //-       a(href="{DIR}producto/detalle") Ver Detalle
      //- li
      //-   .item
      //-     .img
      //-       img(src="{DIR}img/shoes/1/0001.jpg")
      //-     .txt
      //-       h4 Estilo 4005
      //-       p Color Negro
      //-       p Suela Antiderrapante
      //-       a(href="{DIR}producto/detalle") Ver Detalle
      //- li
      //-   .item
      //-     .img
      //-       img(src="{DIR}img/shoes/1/0001.jpg")
      //-     .txt
      //-       h4 Estilo 4005
      //-       p Color Negro
      //-       p Suela Antiderrapante
      //-       a(href="{DIR}producto/detalle") Ver Detalle
      //- li
      //-   .item
      //-     .img
      //-       img(src="{DIR}img/shoes/1/0001.jpg")
      //-     .txt
      //-       h4 Estilo 4005
      //-       p Color Negro
      //-       p Suela Antiderrapante
      //-       a(href="{DIR}producto/detalle") Ver Detalle
      //- li
      //-   .item
      //-     .img
      //-       img(src="{DIR}img/shoes/1/0001.jpg")
      //-     .txt
      //-       h4 Estilo 4005
      //-       p Color Negro
      //-       p Suela Antiderrapante
      //-       a(href="{DIR}producto/detalle") Ver Detalle
      //- li
      //-   .item
      //-     .img
      //-       img(src="{DIR}img/shoes/1/0001.jpg")
      //-     .txt
      //-       h4 Estilo 4005
      //-       p Color Negro
      //-       p Suela Antiderrapante
      //-       a(href="{DIR}producto/detalle") Ver Detalle
      //- li
      //-   .item
      //-     .img
      //-       img(src="{DIR}img/shoes/1/0001.jpg")
      //-     .txt
      //-       h4 Estilo 4005
      //-       p Color Negro
      //-       p Suela Antiderrapante
      //-       a(href="{DIR}producto/detalle") Ver Detalle
      //- li
      //-   .item
      //-     .img
      //-       img(src="{DIR}img/shoes/1/0001.jpg")
      //-     .txt
      //-       h4 Estilo 4005
      //-       p Color Negro
      //-       p Suela Antiderrapante
      //-       a(href="{DIR}producto/detalle") Ver Detalle