li
    .item
      .img
        img(src="{DIR}img/shoes/1/0001.jpg")
      .txt
        h4 Estilo {ESTILO}
        p Corte {CORTE}
        p Color {COLOR}
        a(href="{DIR}producto/detalle/{ID}") Ver Detalle